<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Film maker</title>
  </head>
  <body>
    <h1>New Film Maker</h1>
    <form action="">
      <label for="">Names:</label>
      <input type="text" name="name" />
      <input type="submit" value="Add Film" />
    </form>
    <div>
      <h2>All Film Makers</h2>
      {%for one_maker in all_makers%}
      <p>{{one_maker.name}}</p>
      {%endfor%}
    </div>
  </body>
</html>
