*{
    background-color: white;
}
.flag {
width: 610px;
height: 300px;
display: flex
;
}
.box1 {
    background-color: black;
    width: 200px;
height: 300px;
margin: 0px;

}
.box2 {
    background-color: yellow
    ;
    width: 200px;
    height: 300px;
    margin: 0px;

}
.box3 {
    background-color: red;
    width: 200px;
    height: 300px;
    margin: 0px;

}
.flag2 {
    width: 610px;
    height: 300px;
    display: flex
    ;
    }
    .box4 {
        background-color: black;
        width: 200px;
    height: 300px;
    margin: 0px;
    
    }
    .box5 {
        background-color: yellow
        ;
        width: 200px;
        height: 300px;
        margin: 0px;
    
    }
    .box6 {
        background-color: red;
        width: 200px;
        height: 300px;
        margin: 0px;
    
    }