* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.nav {
    background-color: rgb(43, 43, 43);
    display: flex;
    justify-content: space-between;

}

.nav-title {
    color: white;
    flex: 1;
}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.btn {
    color: rgb(255, 255, 255);
    background-color: blue;
}